<!--{{ if .enable }}-->
<!--<section class="section">-->
<!--  <div class="container text-center">-->
    <h2>{{ .title }}</h2>
<!--    {{ if .bg_image }}-->
<!--    <img class="img-fluide" style="max-width: 100%" src="{{ .bg_image | absURL }}" alt="{{ .image_alt }}">-->
<!--    {{ end }}-->
<!--    <div class="row">-->
<!--      <div class="col-md-12 align-self-center text-center text-md-left">-->
<!--        <div class="content text-center">-->
          <p>{{ .content }}</p>
<!--          {{ if .button1.enable }}-->
<!--          <a href="{{ .link | absURL }}" class="btn-large button-blue-wh" target="_blank"><span-->
<!--              style="color: darkslategrey">{{ .button | markdownify }}</span></a>-->
<!--          {{ end }}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--{{ end }}-->
